!!!
%html
  %head
    %title Taulbee Survey Data
    :css
      .heading{
      	color:white;
      	background-color:#500000;
      	height:50px;
      	margin:0;
      	padding:0;
      	font-size:40px;
      }
      
      .centered{
      	text-align:center;
      }
      
      table, th, td {
        border: 1px solid black;
      }
      
      th, td {
        padding: 1px 5px 1px 5px;
      }
      
      h3{
        color: #800000;
      }
      
      h4{
        color: #800000;
      }
      
      
  %body
  %form
    %h1.centered.heading Taulbee Survey
    %p
      %a{:id => "Home", :href => site_index_path}
        %img{:height => "30", :src => "/images/homepageicon.jpg", :width => "30"}/
      %a{:id => "Back", :href => site_studentFilterSelection_path}
        %img{:height => "30", :src => "/images/previous-icon.png", :width => "30"}/
  
    
    
    
    
    -#table used to display all results

    
    -#%img{:align => "center", :height => "250", :src => "/images/table.png", :width => "600"}/
    
    

  %h3 Results to Download
  %hr
  %p
  Download:
  \#{link_to "CSV.csv", studentManual_path(params.merge(format: 'csv'))}
  %br
  %hr
  
  // //detail info about three selected filters
  // %table#movies
  // %thead
  //   %tr
  //     %th ''
  //     %th '#{pre-filter}'
      
  //     %th '#{rowfilter}'
  //     %th '#{collumfilter}'
      
  //   %br
  //   %tp 
  
  
  %br
  %br
  =link_to "Repeat Query", site_studentFilterSelection_path(:repeat => 1) , method: :get